.todo-wrapper {
  .todo-form {
    .add-btn {
      margin-left: 10px;
    }
  }

  button {
    cursor: pointer;
  }
  .todo-list {
    width: 400px;
    margin: 0 auto;

    .todo-child {
      height: 40px;
      border-bottom: 1px solid grey;
      margin: 10px;

      &:first-child {
        margin-top: 10px;
        //   background-color: yellow;
      }

      .delete-btn {
        margin: 0 10px;
      }

      .edit-btn {
        margin: 0 10px;
      }
    }
  }
}
